<h1>Productos</h1>
<form id="filter-form">
  <label for="type">Tipo:</label>
  <select name="type" id="type">
    <option value="">Todos</option>
    <option value="Running">Running</option>
    <option value="Street">Street</option>
    <option value="Montain">Montain</option>
    <option value="Sport">Sport</option>
  </select>

  <label for="brand">Marca:</label>
  <select name="brand" id="brand">
    <option value="">Todas</option>
    <option value="Nike">Nike</option>
    <option value="Vans">Vans</option>
    <option value="Converse">Converse</option>
    <option value="Fila">Fila</option>
    <option value="Reebook">Reebook</option>
    <option value="adidas">Adidas</option>
  </select>

  <label for="size">Tamaño:</label>
  <select name="size" id="size">
    <option value="">Todos</option>
    <option value="35">35</option>
    <option value="36">36</option>
    <option value="37">37</option>
    <option value="38">38</option>
    <option value="39">39</option>
    <option value="40">40</option>
    <option value="41">41</option>
  </select>

  <button type="submit">Filtrar</button>
</form>

<div class="product-container">
  {{#each productsMapped}}
    <div class="product-item">
      <img src="{{this.img}}" alt="">
      <li>
        <h3>Producto: {{this.name}}</h3>
        <h4>Tipo: {{this.type}}</h4>
        <p>Descripción: {{this.description}}</p>
        <p>Precio: {{this.unitPrice}}</p>
        <p>Stock: {{this.stock}}</p>
        <button class="btn-delete" data-product-id="{{this.id}}"> Eliminar producto</button>
        <a href="http://localhost:3000/api/products/{{id}}/update"><button>Editar producto</button></a>
      </li>
    </div>
  {{/each}}
</div>

<script src="/NewProyectBackend/src/public/js/products.js"></script>
<script type="module" src="/NewProyectBackend/src/public/js/deleteOneProd.js"></script>
